@font-face {
    font-family: rapidfinger101;
    src: url("RapidFinger101-W9RV.ttf")
}
/* Source: https://www.fonts101.com/fonts/view/Fancy/73620/Rapid_Finger_101 */

html {
    background-color: blanchedalmond;
}

h1 {
    font-size: 3em;
}

h1, h2 {    
    font-family: rapidfinger101;    
    color: black;
    text-shadow: 2px 2px 3px rgb(69, 61, 61);
    letter-spacing: .25em;
    text-align: center;
}

input[placeholder] {
    height: 150px;
    width: 800px;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    font-family: rapidfinger101;
    text-shadow: 2px 2px 3px rgb(69, 61, 61);
    letter-spacing: .25em;
    font-size: 2.5em;
}

input[type] {
    height: 100px;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    font-family: rapidfinger101;
    text-shadow: 2px 2px 3px rgb(69, 61, 61);
    letter-spacing: .25em;
    font-size: 2.5em;
}

::placeholder {
    color: blanchedalmond;
    text-align: center;
}

.container {
    border: solid;
    position: absolute;
    display: inline-flex;
    left: 220px;
    flex-direction: column;
}
.game {
    background-color: blueviolet;
}

